<div
  id="bg-container"
  class="absolute top-0 left-0 w-screen grid grid-cols-1
place-content-center overflow-hidden background"
>
  <nav>
    <ul class="flex flex-col gap-4 items-center justify-center">
      <li class="uppercase hover:underline text--glow">
        <a href="/info">Info</a>
      </li>
      <li class="uppercase hover:underline text--glow">
        <a href="/archivos">Archivo</a>
      </li>
      <li>
        <a
          href="#"
          class="border rounded-full border-white px-4 py-2
  hover:bg-white hover:text-black duration-300 uppercase inline-block"
        >
          ESLAND: El Documental</a
        >
      </li>
    </ul>
  </nav>
</div>
